All array elements: <br><hr>

{{#each allDogs}}

    <h2> <li>Breed: {{type}}</li> </h2>
    <h2> <li>Color: {{color}} </li></h2>
    <h2> <li>Local: {{local}}</li> </h2>
<form>
  <input type="button" onclick="location.href='get?title={{type}}';" value="Search" />
  <input type="button" onclick="location.href='delete?title={{type}}';" value="Delete from Array"/>
</form>
<br><hr>

{{/each}}
